@import './colors.module';

.ternaryButton {
    display: flex;
    justify-content: center;
    margin: 0 1px;
    padding: 1px;
    transform: perspective(1px) translateZ(0);
    transition: 50ms ease-in-out;

    &:active {
      transform: perspective(1px) translateZ(0) scale(0.95);
    }

    &[disabled] {
        pointer-events: none;
    }

    & > svg {
        fill: $base3;
        width: 50px;
        height: 25px;
    }
}
